<a href="https://colab.research.google.com/github/AlxeverCodeX/git-github/blob/master/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
html_df =

In [3]:
url = 'https://raw.githubusercontent.com/zalihat/cell_phone_dataset/master/cell_phones.csv'

In [4]:
cellphone_data = pd.read_csv(url, error_bad_lines= False)

In [5]:
cellphone_data

           Country  year  cell_phones_total
0      Afghanistan  1960                0.0
1      Afghanistan  1961                0.0
2      Afghanistan  1962                0.0
3      Afghanistan  1963                0.0
4      Afghanistan  1964                0.0
...            ...   ...                ...
11635     Zimbabwe  2015         12800000.0
11636     Zimbabwe  2016         12900000.0
11637     Zimbabwe  2017         14100000.0
11638     Zimbabwe  2018         12900000.0
11639     Zimbabwe  2019         13200000.0

[11640 rows x 3 columns]

In [7]:
url = 'https://raw.githubusercontent.com/zalihat/cell_phone_dataset/master/population1.csv'

In [8]:
population_data = pd.read_csv(url, error_bad_lines= False)

In [9]:
population_data

           Country  year  population
0      Afghanistan  1800     3280000
1      Afghanistan  1801     3280000
2      Afghanistan  1802     3280000
3      Afghanistan  1803     3280000
4      Afghanistan  1804     3280000
...            ...   ...         ...
58690     Zimbabwe  2096    30900000
58691     Zimbabwe  2097    31000000
58692     Zimbabwe  2098    31000000
58693     Zimbabwe  2099    31000000
58694     Zimbabwe  2100    31000000

[58695 rows x 3 columns]

In [23]:
url ="https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv"

In [24]:
geo_data = pd.read_csv(url, error_bad_lines= False)

In [25]:
geo_data

       country g77_and_oecd_countries  ... world_4region             world_6region
0         abkh                 others  ...        europe       europe_central_asia
1          abw                 others  ...      americas                   america
2          afg                    g77  ...          asia                south_asia
3          ago                    g77  ...        africa        sub_saharan_africa
4          aia                 others  ...      americas                   america
..         ...                    ...  ...           ...                       ...
268  yem_south                 others  ...          asia  middle_east_north_africa
269        yug                 others  ...        europe       europe_central_asia
270        zaf                    g77  ...        africa        sub_saharan_africa
271        zmb                    g77  ...        africa        sub_saharan_africa
272        zwe                    g77  ...        africa        sub_saharan_africa

[273 rows x 21 columns]

In [37]:
joined = pd.concat([cellphone_data, population_data], ignore_index=True)

In [38]:
joined.shape

(70335, 4)

NameError: ignored